.list {
	text-align: left;
	max-width: 750px;
	margin: auto;
}

.submit-form {
	max-width: 300px;
	margin: auto;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: Black;
	text-align: center;
} 

.error {
	color: red;

}